<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ben">

  <!-- Note: this is only used for some sensors that do not correctly use the
  robotNamespace parameter -->
  <xacro:arg name="namespace" default="ben"/>
  <xacro:arg name="thruster_namespace" default="thruster/"/>
  <xacro:arg name="camera_namespace" default="cameras/"/>  
  <xacro:arg name="sensor_namespace" default="sensors/"/>
  <xacro:property name="thruster_namespace" value="$(arg thruster_namespace)" scope="global" />
  <xacro:property name="camera_namespace" value="$(arg camera_namespace)" scope="global" />
  <xacro:property name="sensor_namespace" value="$(arg sensor_namespace)" scope="global" />
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_dynamics_plugin.xacro" />
  
  <!-- Attach hydrodynamics plugin -->
  <xacro:usv_dynamics_gazebo name="ben_dynamics_plugin" />
  
  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/ben_factory_gps.xacro" />
  <xacro:ben_factory_gps name="gps_ben" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/ben_factory_heading_sensor.xacro" />
  <xacro:ben_factory_heading_sensor name="heading_ben" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/ben_posmv_mru.xacro" />
  <xacro:ben_posmv/>
  
  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/lidar.xacro" />
  <xacro:lidar name="lidar_ben" x="-1.77" y="0.0" z="1.34" type="16_beam"/>

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/ben_camera.xacro" />
  <xacro:ben_camera name="front_camera" y="0.1" x="-1.307" z="0.742" P="${radians(0)}" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/ben_pano_array.xacro" />
  <xacro:ben_pano_array name="pano" x="-1.77" z="1.4"/>

  
  <!-- Robot mesh -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_mesh.xacro" />

    
  <!-- === Thruster === -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_thruster.xacro" />
  
</robot>
