<?xml version="1.0"?>
<robot name="ben">
  <link name="base_link">
  </link>
  
  <joint name="base_to_imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0 0.65" rpy="0 0 0"/>
  </joint>
  
  <link name="imu_link">
    <visual>
        <geometry>
            <mesh filename="package://ben_description/models/meshes/BEN_shell.dae"/>
        </geometry>
    </visual>
    
    <collision>
        <geometry>
            <mesh filename="package://ben_description/models/meshes/BEN_convex_hull.dae"/>
        </geometry>
    </collision>
    
    <inertial>
        <!--Values obtained from OnShape-->
        <origin xyz="-0.89 -0.007 -0.219" rpy="0 0 0"/>
        <mass value="617.732"/>
        <inertia
            ixx="171.197" ixy="-0.929" ixz="-12.741"
            iyy="557.901" iyz="-4.404"
            izz="522.887"/>
    </inertial>
    
  </link>
</robot>
