<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ben_gazebo)/urdf/jetdrive.xacro" />
  <xacro:engine prefix="${namespace}/" position="-2.15 0.0 -0.3" />
  <gazebo>
    <plugin name="ben_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find ben_gazebo)/urdf/ben_gazebo_thruster_config.xacro" />
      <xacro:ben_gazebo_thruster_config/>
    </plugin>
  </gazebo>
</robot>

