<launch>
    <arg name="model" default="$(find ben_description)/urdf/ben_mesh.xacro"/>
    <arg name="rvizconfig" default="$(find ben_description)/rviz/urdf.rviz" />

    <include file="$(find ben_description)/launch/load.launch">
      <arg name="namespace" value="ben"/>
      <arg name="model" value="$(arg model)"/>
    </include>
    
    <include file="$(find ben_description)/launch/publish_state.launch">
      <arg name="namespace" value="ben"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
